@model MujDomecek.DTO.PropertyDetailsDto

@{
    ViewData["Title"] = Localizer["Details"];
}

<h1>@Localizer["Details"]</h1>

<div class="row">
    <!-- První sloupec: Jméno, Popis, Vytvořeno, Upraveno -->
    <div class="col-md-6">
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Localizer["Name"]
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-4">
                @Localizer["Description"]
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4">
                @Localizer["CreatedAt"]
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dt class="col-sm-4">
                @Localizer["UpdatedAt"]
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UpdatedAt)
            </dd>
        </dl>
    </div>

    <!-- Druhý sloupec: Jednotky a Opravy -->
    <div class="col-md-6">
        <h4>@Localizer["UnitsAndRepairs"]</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Localizer["UnitsCount"]
            </dt>
            <dd class="col-sm-8">
                @Model.UnitNames?.Count
            </dd>
            <dt class="col-sm-4">
                @Localizer["UnitsNames"]
            </dt>
            <dd class="col-sm-8">
                <ul>
                    @foreach (var unit in Model.UnitNames ?? Enumerable.Empty<string>())
                    {
                        <li>@unit</li>
                    }
                </ul>
            </dd>
            <dt class="col-sm-4">
                @Localizer["RepairsCount"]
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.RepaisCount)
            </dd>
            <dt class="col-sm-4">
                @Localizer["TotalRepairCost"]
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.RepaisCost)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">@Localizer["Edit"]</a>
    <a asp-action="Index" class="btn btn-secondary">@Localizer["BackToList"]</a>
</div>

