@model IEnumerable<MujDomecek.DTO.PropertyDto>

@{
    ViewData["Title"] = @Localizer["Properties"];
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">@Localizer["Properties"]</h1>
    <a asp-action="Create" class="btn btn-primary btn-lg">@Localizer["CreateNewProp"]</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Name"]
            </th>
            <th>
                @Localizer["Description"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="FullView" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <div class="btn-group" role="group">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info m-1 d-flex align-items-center">@Localizer["Details"]</a>
                    @if(item.UserId == ViewBag.UserId ) {
                            <a asp-action="Create" asp-controller="Units" class="btn btn-success m-1 d-flex align-items-center">@Localizer["AddUnit"]</a>
                            <a asp-action="Create" asp-controller="Repairs" class="btn btn-success m-1 d-flex align-items-center">@Localizer["AddRepair"]</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary m-1 d-flex align-items-center">@Localizer["Edit"]</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger m-1 d-flex align-items-center">@Localizer["Delete"]</a>
                    }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
