@page
@model ChangePasswordModel
@{
    ViewData["Title"] = Localizer["ChangePassword"];
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@if (!User.IsInRole("DungeonMaster")) {
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-8">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="@Localizer["CurrentPassword"]" aria-required="true" />
                <label asp-for="Input.OldPassword" class="form-label">@Localizer["CurrentPassword"]</label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="@Localizer["NewPassword"]" aria-required="true" />
                <label asp-for="Input.NewPassword" class="form-label">@Localizer["NewPassword"]</label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="@Localizer["ConfirmNewPassword"]" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label">@Localizer["ConfirmNewPassword"]</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["UpdatePassword"]</button>
        </form>
    </div>
</div>
}
else {
    <h1>Nic nebude!!</h1>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
