@{
    ViewData["Title"] = Localizer["CleanUpDatabase"];
}

<div class="container mt-5">
    <h1 class="text-center">@Localizer["CleanUpDatabase"]</h1>
    <p class="text-center">
        @Localizer["CleanUpDatabaseMessage"]
    </p>
    @if (TempData["Success"] != null) {
        <div class="alert alert-success text-center" role="alert">
            @Localizer["ClearDBSuccesMessage"]
        </div>
    }

    @if (TempData["Error"] != null) {
        <div class="alert alert-danger text-center" role="alert">
            @Localizer["ClearDBErrorMessage"]
        </div>
    }

    <div class="text-center mt-4">
        <form asp-action="CleanupDatabase" asp-controller="Admin" method="post">
            <button type="submit" class="btn btn-danger btn-lg">
                @Localizer["CleanUpDatabase"]
            </button>
        </form>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary text-center mt-4">@Localizer["Back"]</a>
    </div>
</div>