@model MujDomecek.DTO.RepairDto

@{
    ViewData["Title"] = Localizer["Delete"];
}

<h1>@Localizer["Delete"]</h1>

<h3>@Localizer["DeleteAreYouSure"]</h3>
<p class="text-danger">@Localizer["DeleteRepairMessage"] </p>
<div>
    <h4>@Localizer["Repair"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Localizer["Title"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Description"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Price"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["RepairDate"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepairDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">@Localizer["BackToList"]</a>
    </form>
</div>
