@model MujDomecek.DTO.RepairDetailViewDto

@{
    ViewData["Title"] = Localizer["Details"];
}

<h1>@Localizer["Details"]</h1>

<div class="row">
    <div class="col-md-6">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Localizer["Name"]
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-4">
                @Localizer["Description"]
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4">
                @Localizer["RepairDate"]
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.RepairDate)
            </dd>
            <dt class="col-sm-4">
                @Localizer["Price"]
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Cost)
            </dd>
        </dl>
    </div>

    <div class="col-md-6">
        <h4>@Localizer["Details"]</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Localizer["CreatedAt"]
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dt class="col-sm-4">
                @Localizer["UpdatedAt"]
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UpdatedAt)
            </dd>
            <dt class="col-sm-4">
                @Localizer["FilesCount"]
            </dt>
            <dd class="col-sm-8">
                @(Model.Documents?.Count ?? 0)
            </dd>
        </dl>
    </div>
</div>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">@Localizer["Edit"]</a>
    <a asp-action="Index" class="btn btn-secondary">@Localizer["BackToList"]</a>
</div>
<hr />

<!-- Picture preview -->
<div class="row">
    @foreach (var document in Model.Documents ?? Enumerable.Empty<RepairDocumentsDto>()) {
        <div class="col-md-3 mb-3">
            <div class="card">
                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal-@document.Id">
                    <img src="~/@document.FilePath" class="card-img-top img-thumbnail" alt="@document.Description" />
                </a>
                <div class="card-body">
                    <p class="card-text">@document.Description</p>
                </div>
            </div>
        </div>

        <!-- Modal for bigger picture -->
        <div class="modal fade" id="imageModal-@document.Id" tabindex="-1" aria-labelledby="imageModalLabel-@document.Id" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageModalLabel-@document.Id">@document.Description</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="~/@document.FilePath" class="img-fluid" alt="@document.Description" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>


