@model MujDomecek.DTO.UnitDto

@{
    ViewData["Title"] = Localizer["Create"];
}

<h1>@Localizer["CreateNewUnit"]</h1>

<h4>@Localizer["Unit"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">@Localizer["Description"]</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitType" class="control-label"></label>
                <select asp-for="UnitType" class="form-control" asp-items="ViewBag.UnitTypes">@Localizer["UnitType"]</select>
                <span asp-validation-for="UnitType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyId" class="control-label">@Localizer["Property"]</label>
                <select asp-for="PropertyId" class="form-control" asp-items="ViewBag.PropertyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ParentUnitId" class="control-label">@Localizer["ParentUnit"]</label>
                <select asp-for="ParentUnitId" class="form-control" asp-items="ViewBag.Units">
                    <option value="">-- @Localizer["Select"] --</option>
                </select>
                <span asp-validation-for="ParentUnitId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="@Localizer["CreateNewUnit"]" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">@Localizer["BackToList"]</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
